<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background: linear-gradient(135deg, var(--primary-color), var(--secondary-color)); display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">

    <div class="profile-container">
        <h1>User Profile</h1>
        <img src="{{ g.user.ProfilePictureUrl or url_for('static', filename='images/default_avatar.png') }}" alt="User Avatar" class="avatar">
        <p class="username">Username: {{ g.user.Username }}</p>

        <form action="{{ url_for('profile') }}" method="POST" enctype="multipart/form-data" style="align-items: center;">
            <label for="file">Update Avatar:</label>
            <input type="file" name="file" id="file" required>
            <button type="submit" class="button-style" style="margin-top: 15px;">Upload</button>
        </form>
    </div>
    <div class="nav-links" style="text-align: center; margin-top: 25px;">
        <a href="{{ url_for('home') }}" style="color: #fff;">Back to Home</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>